{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/pumukitwebtv/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet" media="screen"/>

    <style>
        .moodle_title {
            font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
            font-weight: 300;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pumukitwebtv/js/moment-with-locales.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/pumukitwebtv/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/pumukitwebtv/js/modernizr-custom.js') }}" type="text/javascript"></script>

    <script>
        $(function(){
            $('.search-form').find('a:last').hide(); // hide 'Search by series'
            $('.pumukit_mmobj').on('click', function(e) {
                e.preventDefault();
                if (window.parent && e.currentTarget.parentElement.href) {
                    var url = e.currentTarget.parentElement.href.replace('/video/', '/iframe/');
                    window.parent.postMessage({url: url}, '*');
                }
            });
        });
    </script>
{% endblock %}

{% block body_base %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    {% if blocked_tag is defined and blocked_tag is not null %}
                        <h3 class="moodle_title">{{ blocked_tag.title }}</h3>
                    {% else %}
                        <h3 class="moodle_title">
                            {% if template_title is defined %}
                                {{ "Search shared videos" |trans }}
                            {% else %}
                                {% if type == "series" %}
                                    {% trans %}Series search{% endtrans %}
                                {% else %}
                                    {% trans %}Multimedia objects search{% endtrans %}
                                {% endif %}
                            {% endif %}
                        </h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% include 'PumukitWebTVBundle:Search:list.html.twig' %}
            </div>
            <div class="row">
                {% include 'PumukitWebTVBundle:Misc:pager.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}